@import url("elements/fonts/SoCloudy-PV7yd.otf");
@import url("elements/fonts/SunnySpellsBasicRegular-Yz1Wv.ttf");
@import url("elements/fonts/Lost-alt.TTF");

body {
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  /*   max-width: 1200px; */
}

.body-sm {
    display: none;
    margin: 0 auto;
    text-align: center;
}
  
.body-sm img {
width: 100%;
padding-top: 40vh;
margin: 0 auto;
}

img {
  -moz-user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-drag: none;
  -ms-user-select: none;
  user-drag: none;
  user-select: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.panel {
  padding: 1em;
  background-size:
    8px 8px,
    8px 8px,
    8px 8px,
    8px 8px,
    8px 8px,
    100% 100%;
  margin-bottom: -4px;
  padding: 0;
}
  
.panel.yellow {
  background-image: radial-gradient(
      ellipse farthest-corner,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 35%,
      #ffffff 30%,
      #ffffff 40%,
      rgba(0, 0, 0, 0) 90%
    ),
    radial-gradient(
      ellipse farthest-corner at 0px 0px,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      #ffffff 15%,
      #ffffff 20%,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 8px 8px,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      #ffffff 15%,
      #ffffff 20%,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 0px 8px,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      #ffffff 15%,
      #ffffff 20%,
      rgba(0, 0, 0, 0) 40%
    ),
    radial-gradient(
      ellipse farthest-corner at 8px 0px,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      #ffffff 15%,
      #ffffff 20%,
      rgba(0, 0, 0, 0) 50%
    ),
    linear-gradient(
      40deg,
      #ffce55 0,
      #fffc83 30%,
      #ffffb1 50%,
      #fffc83 70%,
      #ffce55 100%
    );
}

.panel.orange {
  background-image: radial-gradient(
      ellipse farthest-corner,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 35%,
      #ffffff 30%,
      #ffffff 40%,
      rgba(0, 0, 0, 0) 90%
    ),
    radial-gradient(
      ellipse farthest-corner at 0px 0px,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      #ffffff 15%,
      #ffffff 20%,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 8px 8px,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      #ffffff 15%,
      #ffffff 20%,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 0px 8px,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      #ffffff 15%,
      #ffffff 20%,
      rgba(0, 0, 0, 0) 40%
    ),
    radial-gradient(
      ellipse farthest-corner at 8px 0px,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      #ffffff 15%,
      #ffffff 20%,
      rgba(0, 0, 0, 0) 50%
    ),
    linear-gradient(
      40deg,
      #fa9939 0,
      #ffc767 30%,
      #fff595 50%,
      #ffc767 70%,
      #fa9939 100%
    );
}

.panel.blue {
  fill: radial-gradient(
      ellipse farthest-corner,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 35%,
      #ffffff 30%,
      #ffffff 40%,
      rgba(0, 0, 0, 0) 90%
    ),
    radial-gradient(
      ellipse farthest-corner at 0px 0px,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      #ffffff 15%,
      #ffffff 20%,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 8px 8px,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      #ffffff 15%,
      #ffffff 20%,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 0px 8px,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      #ffffff 15%,
      #ffffff 20%,
      rgba(0, 0, 0, 0) 40%
    ),
    radial-gradient(
      ellipse farthest-corner at 8px 0px,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      #ffffff 15%,
      #ffffff 20%,
      rgba(0, 0, 0, 0) 50%
    ),
    linear-gradient(
      40deg,
      #038ecf 0,
      #51cbf1 30%,
      #7ff9ff 50%,
      #51cbf1 70%,
      #038ecf 100%
    );
}

.cherry-bomb {
  font-family: "Cherry Bomb One", serif;
  font-weight: 400;
  font-style: normal;
}

.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: trippy 20s ease infinite;
}

.background2 {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  animation: trippy 20s ease infinite;
  justify-content: flex-start;
  position: absolute;
}

.bg-text {
  font-family: "Cloudy", "Cherry Bomb One", serif;
  position: absolute;
  right: 0;
  font-size: 3em;
  user-select: none;
  cursor: pointer;
  color: #fecb7866;
  animation: trippy 10s ease infinite;
  /* text-transform: uppercase; */
  opacity: 0.7;
  background-image: linear-gradient(
    135deg,
    #ffc97d3d,
    #ffd192,
    #ffe1a4,
    #ffd5996b,
    #f9c57f,
    #ffeab800,
    #fecea0
  );
  background-size:
    8px 8px,
    8px 8px,
    8px 8px,
    8px 8px,
    8px 8px 1px,
    100% 100%;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-text:hover {
  background-image: linear-gradient(
    135deg,
    #ff00ff,
    #00ff00,
    #0000ff,
    #ffff00,
    #ff0000,
    #00ffff,
    #ff00ff
  );
}

.bgtwo-text {
  font-family: "Sunny Spells Basic", "Cherry Bomb One", serif;
  top: 1%;
  position: absolute; 
  font-size: 2em;
  letter-spacing: 1px;
  padding: 2% 1%;
  background: linear-gradient(
    135deg,
    #ff00ff,
    #00ff00,
    #0000ff,
    #ffff00,
    #ff0000,
    #00ffff,
    #ff00ff
  );
  user-select: none;
  cursor: pointer;
  animation: trippy 10s ease infinite;
  background-size: auto auto;
  background-size: 200% auto;
  color: #2c2c2c;
  box-shadow: 2px 1px 3px black;
  max-width: 370px;
  text-align: center;
  z-index: 0;
}

.bgtwo-text:hover {
  background: linear-gradient(
    135deg,
    #ff00ff,
    #00ff00,
    #0000ff,
    #ffff00,
    #ff0000,
    #00ffff,
    #ff00ff
  );
}

.content-wrap {
  width: 600px;
  height: 70rem;
  margin: 0 auto;
  position: relative;
}

.court {
  width: 100vw;
  height: 150vh;
  background-position: 40% 59%;
  position: absolute;
  z-index: -3;
}

.coords {
  position: absolute;
  margin: 0;
  transform: rotate(-90deg) translateY(50%);
  text-wrap: nowrap;
  font-family: "Sunny Spells Basic", "Cherry Bomb One", serif;
  font-size: 1.7em;
  /* letter-spacing: 1px; */
  background: linear-gradient(
    138deg,
    #ff00ff,
    #00ff00,
    #0000ff,
    #ffff00,
    #ff0000,
    #00ffff,
    #ff00ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  cursor: pointer;
  animation: trippy 10s ease-in-out infinite;
  color: #2c2c2c;
}

.scroll-wrapper {
  position: relative;
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  transition: 0.5 ease-in-out;
}

.sec1,
.sec2 {
  position: absolute;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

.sec1 {
  top: 38%;
  left: 15%;
  width: 40%;
  max-width: 300px;
  z-index: 1;
  animation: dribble 1s infinite;
  animation-direction: alternate;
}

.sec2 {
  height: 7.7%;
  top: 56%;
  left: 46%;
  width: 7.3%;
  width: 100px;
  height: 260px;
  display: block;
  transform: scale(0.8);
}

.scale {
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: linear;
  transition-duration: 1s;
  transition-timing-function: linear;
  box-shadow: 1px 3px 220px 420px rgba(0, 0, 0, 0.15);
}

#basket img {
  display: block;
  position: absolute;
  top: 55px;
  left: 20px;
  min-width: 228px;
  height: 193px;
}

#ball {
  width: 70px;
  height: 70px;
  position: relative;
  animation: jump 1s infinite;
  overflow: hidden;
}

/* Ball texture */
#ball:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-image: url("images/light.svg");
    background-size: 110%;
    border-radius: 100%;
    animation: lightop 1s infinite;
}

#ball:after {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: url("images/basketball.svg");
  position: absolute;
  animation:
    rotate 2s infinite,
    back 1s infinite;
  z-index: 5;
  background-repeat: repeat;
  background-size: cover;
  animation-timing-function: linear;
}

/* Shadow on ball */
#shadow {
  background: url("images/shadow.svg");
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 100%;
  animation: shadop 1s infinite;
  margin: auto;
  display: block;
  background-size: contain;
  z-index: 10;
}

/* Shadow on court */
#ballShadow {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 10;
  margin-left: -30px;
  background-image: url("images/basketball.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  animation: shrink 1s infinite;
  z-index: -1;
  background-position: center;
}

/* Keyframe animations */
@keyframes trippy {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
}

@keyframes jump {
  0% {
    top: 0;
    transform: scale3d(1, 1, 1);
    border-radius: 100%;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    top: 200px;
    animation-timing-function: ease-out;
    transform: scale3d(1.3, 0.8, 1);
  }
  55% {
    transform: scale3d(1, 1, 1);
  }
  60% {
    transform: scale3d(0.8, 1.1, 1);
  }
  70% {
    transform: scale3d(0.95, 1.05, 1);
  }
  72% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
    top: 0;
    border-radius: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dribble {
  0% {
    animation-timing-function: ease-in;
  }

  100% {
    transform: rotate(2deg);
  }
}

@keyframes dback {
  0% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes shrink {
  0% {
    bottom: 0;
    margin-left: -30px;
    width: 80px;
    height: 20px;
    animation-timing-function: ease-in;
    left: 150%;
    opacity: 0.2;
  }
  50% {
    bottom: 5px;
    margin-left: -10px;
    width: 50px;
    height: 10px;
    animation-timing-function: ease-out;
    left: 35%;
    opacity: 1;
  }
  100% {
    bottom: 0;
    margin-left: -30px;
    width: 80px;
    height: 20px;
    animation-timing-function: ease-in;
    left: 150%;
    opacity: 0.2;
  }
}

@keyframes lightop {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.25;
  }
}

@keyframes shadop {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.55;
  }
  100% {
    opacity: 0.25;
  }
}

@keyframes back {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}

@keyframes shadows {
    0% {
      text-shadow: none;
    }
    10% {
      text-shadow: 3px 3px 0 orange;
    }
    20% {
      text-shadow:
        3px 3px 0 orange,
        6px 6px 0 orangered;
    }
    30% {
      text-shadow:
        3px 3px 0 orange,
        6px 6px 0 orangered,
        9px 9px yellow;
    }
    40% {
      text-shadow:
        3px 3px 0 orange,
        6px 6px 0 orangered,
        9px 9px yellow,
        12px 12px 0 red;
    }
    50% {
      text-shadow:
        3px 3px 0 orange,
        6px 6px 0 orangered,
        9px 9px yellow,
        12px 12px 0 red;
    }
    60% {
      text-shadow:
        3px 3px 0 orange,
        6px 6px 0 orangered,
        9px 9px yellow,
        12px 12px 0 red;
    }
    70% {
      text-shadow:
        3px 3px 0 orange,
        6px 6px 0 orangered,
        9px 9px yellow;
    }
    80% {
      text-shadow:
        3px 3px 0 orange,
        6px 6px 0 orangered;
    }
    90% {
      text-shadow: 3px 3px 0 orange;
    }
    100% {
      text-shadow: none;
    }
  }
  
.text_shadows {
  text-shadow:
    3px 3px 0 orange,
    6px 6px 0 orangered,
    9px 9px yellow,
    12px 12px 0 red;
  animation:
    shadows 20s ease-in infinite,
    move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
  transform: rotate(268deg);
}

/* Media Queries */
@media only screen and (max-width: 858px) {
  .court {
    background-position: center;
  }
  .coords {
    bottom: 0;
    right: 0;
    font-size: 1.2em;
    transform: none;
    color: #bbbc48;
  }
}

@media (max-width: 375px) {
    body #wrap, body #frame {
        display: none !important;
        }
       .body-sm {
          display:block;
          }
    }
